.features {
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: #000; */
}
.features .container {
  display: grid;
  place-items: center;
}
.mySwiper {
  position: relative;
  width: 220px;
}

.swiper-slide {
  width: 220px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #fff;
}
.swiper-slide img {
  width: 220px;
}

.swiper-slide:nth-child(1n) {
  box-shadow: 0 0 20px #5ba8f8;
  animation: shadow1 3s infinite;
  /* box-shadow: 0 0 20px #90DD53; */
}

.swiper-slide:nth-child(2n) {
  box-shadow: 0 0 20px #e8b43e;
  /* box-shadow: 0 0 20px #E8B43E; */
}

.swiper-slide:nth-child(3n) {
  box-shadow: 0 0 20px #765bbc;
  /* box-shadow: 0 0 20px #ED6EB9; */
}

.swiper-slide:nth-child(4n) {
  box-shadow: 0 0 20px #e86847;
  /* box-shadow: 0 0 50px #E86847; */
}
.swipper-text {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.swipper-text p {
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  font-size: 12px;
  transition: ease-in-out .5s;
  background: linear-gradient(to right, #0077f7, #73ff00);

  /* Set the background-clip property to text */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  /* Set the text-fill-color property to transparent */
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.swipper-text p.abs {
  position: absolute;
  transform: scale(0);
}